{
	"members":{
		"jd":{
            "id":		"", 
			"name":		"John Doe", 
			"email":	"jd@jupiter.org"
		},
        "dh":{
			"id":		"", 
			"name":		"Die Hard", 
			"email":	"dh@saturn.net"
		}
    },

	"releases":{
        "PopCorn":{
			"stream":	"",
			"version":	"2.beta",
            "date":     "199802"
		},
        "KitKat":{
			"stream":	"",
			"version":	"3.0.7",
            "date":     "201211"
		}
    },

    "urlRules":{
        "MyAssignments":[
            "http://nerd.net/kick.php?start=1+", "$stream",
            "+versionNo=", "$version",
            "+(testFlags&128)<>0+(testFlags&64)=0",
            "+%20(owner='", "$id", 
            "'%20OR%20((owner%20IS%20NULL%20OR%20owner='')%20and%20assignee='", "$id", 
            "'))",
            "+end=1"
        ],
        "URT":[
        ]
    }
}
